@media only screen and (max-width: 1220px) {

    .wpContainer__github--button {
        padding: 0 1.5vh;
    }

}

@media only screen and (max-width: 1050px) {

    .wpContainer {
        flex-direction: column;
        margin: 5vh 0;
        height: auto;
    }

    .wpContainer--number {
        width: 100%;
        display: block;
    }

    .wpContainer__info {
        margin-top: 10px;
        width: 100%;
    }

    .wpContainer__info--title {
        font-size: 25px;
    }

    .wpContainer__info--description {
        width: 100%;
    }

    .wpContainer__github {
        width: 100%;
        display: block;
        margin-top: 15px;
    }

    .wpContainer__github--button {
        width: auto;
    }

    .wpContainer__github--button {
        padding: 0 1vh;
    }

}

@media only screen and (max-width: 480px) {



}
 