@import "../../styles/index.css";

.wpContainer {
    height: 20vh;
    width: 100%;
}

.wpContainer--number {
    width: 20%;
    font-size: 40px;
}

.wpContainer__info {
    width: 60%;
}

.wpContainer__info--title {
    font-size: 30px;
}

.wpContainer__info--description {
    margin-top: 5px;
    width: 80%;
    font-size: 18px;
}

.wpContainer__github {
    width: 20%;
}

.wpContainer__github--button {
    height: 5.5vh;
    padding: 0 3vh;
    border-radius: 50px;
    border: 1px solid black;
    font-size: 15px;
}