@import "../../styles/index.css";

.wpContainer {
    width: 100%;
    margin-bottom: 2vh;
    height: auto;
}

.wpContainer--title {
    color: #0984e3;
    font-weight: 500;
}

.wpContainer--description {
    margin-left: 5px;
    font-weight: 500;
}



