.normal {
    font-style: normal;
}

.italic {
    font-style: italic;
}

.w100 {
    font-weight: 100;
}

.w200 {
    font-weight: 200;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
}

.w800 {
    font-weight: 800;
}

.w900 {
    font-weight: 900;
}

/*@font-face {*/
/*    font-family: 'Cinetype';*/
/*    src: url("../fonts/Cinetype/GT-Cinetype-Regular.woff");*/
/*}*/

/*@font-face {*/
/*    font-family: 'Bandeins';*/
/*    src: url("../fonts/Bandeins/BandeinsSansVariableGX.woff2") format('woff2');*/
/*    font-weight: 200 800;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Bandeins Bold';*/
/*    src: url("../fonts/Bandeins/BandeinsStrangeSemiBoldExtendedHalf.woff2") format('woff2');*/
/*    font-stretch: 0% 800%;*/
/*    font-weight: 200 800;*/
/*}*/