@import 'index.css';

.container {
    height: 5vh;
    width: 100%;
    background-color: ;
    margin-top: 10vh;
}

.navLeft,
.navRight {
    margin: 0 10vw;
}

.navLeft a {
    font-weight: 700;
    font-size: 18px;
}

.navRight a {
    margin: 0 10px;
    font-size: 15px;
}