@import "../../styles/index.css";

@media only screen and (max-width: 1000px) {

    .navigation--wrapper {
        width: 100%;
        z-index: 25;
        background-color: var(--text-color);
        position: fixed;
    }

}

@media only screen and (max-width: 480px) {

    .navigation--phone {
        z-index: 20;
        background-color: var(--text-color);
        margin-top: 8vh;
    }

    .navigation--left {
        margin-left: 5vw;
    }

    .navigation--links {
        display: none;
    }

    .navigation--hamburger {
        height: 8vh;
        display: flex;
        margin-right: 1vw;
        font-size: 5vw;
    }

    .navigation--phone div {
        height: 5vh;
        font-size: 20px;
    }

    .navigation--phone--links {
        margin-top: -15vh;
    }

}