@import "../../styles/index.css";

.navigation {
    height: 8vh;
    z-index: 3;
}

.navigation--left {
    margin-left: 3vw;
}

.navigation--right {
    margin-right: 3vw;
}

.navigation--right div {
    margin-left: 2vw;
}

.navigation--left,
.navigation--right {
    font-size: 18px;
    z-index: 10;
}