@media only screen and (max-width: 1000px) {

    .navLeft {
        /*background-color: green;*/
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navRight {
        /*background-color: red;*/
        left: 0;
        bottom: 0;
        margin: 10vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navRight a {
        font-size: 18px;
    }

}