@import "../../styles/index.css";

.container {
    height: 5vh;
    width: 100%;
    margin-top: 10vh;
}

.navLeft,
.navRight {
    margin: 0 15vw;
}

.navLeft a {
    font-weight: 700;
    font-size: 18px;
}

.navRight a {
    margin: 0 10px;
    font-size: 15px;
    color: #797f85;
}

.navRight a:hover {
    color: black;
}