@import "../../styles/index.css";

.pContainer {
    height: 100vh;
}

.pContainer__wrapper {
    margin: 0 15vw;
}

.pContainer__wrapper__pageTitle {
    font-weight: 700;
    font-size: 30px;
}

.pContainer__wrapper__projects {
    margin-top: 2vh;
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 0.2fr);*/
    /*gap: 5vh;*/
}