@import '../../styles/index.css';

@media only screen and (max-width: 1000px) {

    .fContainer__wrapper--left,
    .fContainer__wrapper--right {
        margin: 0 5vw;
    }

}

@media only screen and (max-width: 480px) {

    .fContainer__wrapper {
        display: block;
    }

    .fContainer__wrapper--right {
        margin-top: 10px;
        text-align: left;
    }

}
