@media only screen and (max-width: 1420px) {

    .homepage__wrapper {
        display: flex;
        align-items: center;
    }

    .homepage__description {
        margin-top: 0;
        font-size: 8vh;
    }

}

@media only screen and (max-width: 480px) {



}
