@import "../../styles/index.css";

.hContainer__wrapper-1,
.hContainer__wrapper-2 {
    margin: 0 15vw;
    line-height: 90%;
}

.hContainer__wrapper-1 {
    font-size: 10vh;
}

.hQuestions {
    margin: 15vh 0;
}

.hContainer__wrapper--question {
    font-size: 3vh;
    line-height: 100%;
}

.hContainer__wrapper--paragraph {
    margin-top: 3vh;
    font-size: 2.5vh;
    width: 80%;
    line-height: 100%;
}