@import "../../styles/index.css";

.homepage__about--text {
    margin-top: 15vh;
    font-size: 30px;
    width: 40%;
}

.homepage__question01--wrapper {
    margin-top: 15vh;
}

.homepage--question01 {
    font-size: 18px;
}

.homepage--response01 {
    font-size: 25px;
    width: 50%;
}

.homepage__email {
    margin-top: 5vh;
}