@import "../../styles/index.css";

.homepage__heading {
    width: 80%;
    line-height: 90%;
    font-size: 10vh;
}

.questions {
    margin: 15vh 0;
}

.questions--title {
    font-size: 3vh;
    line-height: 100%;
}

.questions--paragraph {
    margin-top: 3vh;
    font-size: 2.5vh;
    width: 80%;
    line-height: 100%;
}