@import "../../styles/index.css";

.work__container {
    height: 20vh;
}

.work--type,
.work__description {
    flex-basis: 50%;
}

.work__description--title {
    font-size: 45px;
}

.work__description--description {
    margin-top: 5px;
    width: 60%;
    font-size: 18px;
    line-height: 1.55;
}